/* geral */
body {
  margin: 0;
  padding: 0%;
  font-family: Roboto;
}

h2 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0px;
}

/* navegação do cabeçalho */
#navegar {
  background: linear-gradient(rgb(245, 200, 0), #000000);
  color: #fff;
  padding: 0 15px;
  height: 60px;
}

#navegar h2,
#navegar ul,
#navegar-list li,
#navegar nav {
  display: inline-block;
}

#navegar h2 {
  margin: 0;
  line-height: 60px;
  margin-left: 55px;
}

#navegar img {
  height: 40px;
  transform: rotate(0deg);
  position: absolute;
  top: 10px;
}

#navegar nav {
  float: right;
}

#navegar ul {
  margin-top: 22px;
}

#navegar li {
  margin: 0 10px;
}

#navegar-list li a {
  text-decoration: none;
  color: #fff;
}

#navegar-list li a:hover {
  border-bottom: 1px solid rgb(0, 158, 179);
  color: rgb(0, 158, 179);
}

/* Fundo do corpo */
body section {
  background: linear-gradient(black, black, blue);
  height: 500px;
  max-width: 1200px;
  text-align: center;
  color: #fff;
  padding-top: 1vh;
}

/* banner */
.main-banner {
  background-size: cover;
  padding-bottom: 60px;
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#banner-info {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #fff;
  padding: 50px;
}

#banner-info img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* Cards de conteudos */

.card {
  max-width: 350px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 4px;
  flex: 1
}
.cards {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
  margin-top: 60px;
  flex: 1;
}

.card .image img {
  display: block;
  height: auto;
  max-width: 100%;
}
.content {
  margin: 0px;
  margin-bottom: 20px;
  padding: 0rem 20px;
  text-align: center;
  flex: 1;
}

.btn-card {
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--cor-p5);
  font-size: 12px;
  line-height: 1.33;
  font-weight: bold;
  font-family: "Poppings";
  font-weight: 600;
}

.btn-card:hover {
  background-color: rgb(44, 224, 44);
}

/* Fim */
footer {
  padding: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: black;
  width: 100%;
}

@media only screen and (max-device-width: 992px) {
  /* Para Laptop*/
}

@media only screen and (max-device-width: 768px) {
  /* Para Tablet */
}

@media only screen and (max-device-width: 600px) {
  /* Para Mobile */
}